@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
  font-family: 'Ubuntu', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
}

body::-webkit-scrollbar {
  display: none;
}

/* #log_out {
  width: 5rem;
  height: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid #143551;
  background-color: white;
  color: #143551;
}

#edit {
  width: 7rem;
  height: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid #143551;
  background-color: white;
  color: #143551;
  text-align: center;
  margin-left: auto;
  padding-right: 0.6rem;
  padding-bottom: 0.5rem;
} */

.nav-hold ul{
  list-style-type: none;
  background-color:#468cb8;
  font-size: 1.5rem;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 0.7rem;
  margin:0 auto;
  /* box-shadow: 0 0rem 1rem #468CB8;
  margin-top: 1rem;
  width: 95%;
  border: 1px solid #143551;
  border-radius: 1rem; */
}

.nav-hold img{
  height: 2rem;
  cursor: pointer;
}

hr{
  border: 1px solid black;
  margin: 0.5rem 0rem;
}

.detailsbar ul{
  list-style-type: none;
  font-size: 1.2rem;
  color: white;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 1rem;
  margin:0 auto;
  width: 60%;
}
  
.detailsbar #basic{
  padding-top: 0.9rem;
  width: 33%;
  border-radius: 1rem 0rem 0rem 1rem;
  color: #143551;
  border: 1px solid #143551;
  height: 3.5rem; 
}

.detailsbar #educational{
  padding-top: 0.9rem;
  width: 33%;
  border-radius: 0rem 0rem 0rem 0rem;
  color: #143551;
  border: 1px solid #143551;
  height: 3.5rem;
}

.detailsbar #additional{
  padding-top: 0.9rem;
  width: 33%;
  border-radius: 0rem 0rem 0rem 0rem;
  color: #143551;
  border: 1px solid #143551;
  height: 3.5rem;
}


.detailsbar #history{
  padding-top: 0.9rem;
  width: 33%;
  border-radius: 0rem 1rem 1rem 0rem;
  color: #143551;
  border: 1px solid #143551;
  height: 3.5rem;
}

.detailsbar:hover{
    cursor: pointer;
} 

#details{
  padding: 2rem;
  background-color: #143551;
  color: white;
  height: 75vh;
  width: 80%;
  margin: 0 auto;
  border-radius: 1rem;
  /* box-shadow: 0 0rem 1rem #468CB8; */
  overflow-y: scroll;
}

#details::-webkit-scrollbar {
  display: none;
}

#details table{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.1rem;
}

#details td{
  height: 2.7rem;
  width: 35%;
  /* border-bottom: 1px dashed white; */
}

#edu_det {
  border-collapse: collapse;
  border: 1px dashed white;
}

#edu_det td{
  height: 3rem;
  width: 15%;
  border: 1px dashed white;
}

#edu_det th{
  height: 3rem;
  width: 15%;
  border: 1px dashed white;
}

#edu_det button{
  background-color: transparent;
  border: 1px solid white;
  padding: 0.3rem;
  width: 50%;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.right-most {
  margin-left: auto;
  padding-right: 0.6rem;
}

.dropbtn {
  background-color: #468CB8;
  color:#468CB8;
  font-size:10px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 0.8rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #195b84; color: #EAEAEA;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #468CB8;}

#dref {
  color: white;
  text-decoration: none;
}