@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
  font-family: 'Ubuntu', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #C0D6DF;
}

body::-webkit-scrollbar {
  display: none;
}

.main{
  display: flex;
  flex-direction: row;
}

.nav-hold ul{
  list-style-type: none;
  background-color:#468CB8;
  font-size: 1.5rem;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 0.7rem;
}

.nav-hold img{
  height: 2rem;
  cursor: pointer;
}

.right-most {
  margin-left: auto;
  padding-right: 0.6rem;
}

.right-box{
  padding-top: 1.5rem;
  width:25%;
  padding-right: 0.1rem;
  height: 90vh;
}

#calendar {
  width: 100%;
  height: 70%;
  margin: 0 auto;
  padding-bottom: 0.5rem;
}

.fc{
  .fc-toolbar-title{
    font-size: 1.2rem;
  }
}


hr{
  border: 1px solid black;
  margin: 0.5rem 0rem;
}

.ongoing_events{
  background: #143551;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  width:100%;
  height: 30%;
  padding: 1rem;
  overflow-y: scroll;
}

.ongoing_events h6{
  list-style-type: disc;
  list-style-position: inside ;
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
}

.ongoing_events li{
  list-style-type: disc;
  list-style-position: inside ;
  color: #C0D6DF;
  font-size: 0.8rem;
}

.ongoing_events h3{
  font-size: 1.2rem;
  text-align: center;
  color:white;
  margin-bottom: 8px;
}

.ongoing_events::-webkit-scrollbar {
  display: none;
}

.left-box{
  background: #EAEAEA;
  width:70%;
  height: 87vh;
  margin: 1.2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  padding: 1.2rem 1rem;
  overflow-y: scroll;
}

.left-box h2{
  text-align: center;
  margin-bottom: 0.3rem;
}

.left-box::-webkit-scrollbar {
  display: none;
}

.content img{
  height:6rem;
  width: 6rem;
  float: left;
  margin-right: 1rem;
}

.content .heading{
  color:#195b84;
  font-size: 1.1rem;
  font-weight: bold;
  
}

.content .roles{
  color: #4194c7;
  font-size: 1rem;
}

.content .abt{
  font-size: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.content{
  margin-bottom: 8px;
  overflow: auto;
}

.content button{
  background-color: #468CB8;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin-left: auto;
  float:right;
}

.drivebar ul{
  list-style-type: none;
  font-size: 1.2rem;
  color: white;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 0.7rem;
  margin-bottom: 1rem;
}

.drivebar #upcoming_drives{
  width: 50%;
  border-radius: 1rem 0rem 0rem 1rem; 
  background-color: #143551;
}

.drivebar #past_drives{
  width: 50%;
  border-radius: 0rem 1rem 1rem 0rem;
  color: #143551;
  border: 1px solid #143551;
}

.drivebar #upcoming_drives:hover{
  cursor: pointer;
} 

.drivebar #past_drives:hover{
  cursor: pointer;
}
